.logo-cash {
    color: #FFE600;
}

.logo-flow {
    color: #FFFFFF;
}
.icon-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-buttons {
    display: flex;
    gap: 10px;
}